@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i|Roboto');

.miestilo {display:none;}

.planel{    
    font-size: 25px;
     font-family: 'Roboto';
     width: 100%;
    
}

.logo_mim{
    height: 65px; 
    padding: 35px;
    margin-top: 2px;
    background: #C70039;
    color: white;
    cursor: default;
    position: relative;
}

.logo_mimo{
    height: 65px;
    padding: 20px;
    background: #C70039;
    color: white;
    cursor: default;
    position: relative;
}

